body {
  padding: 0px;
  margin: 0px;
  background-color: #1C1E22;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
input {
  border: none;
}
*:focus {
  outline: none;
}
.label_ {
  font-size: 13px;
  margin-top: 2px;
  font-weight: bold;
  padding-right: 2px;
}
.info_ {
  font-size: 15px;
}
.container_ {
  height: fit-content; 
  border-bottom: 1px solid #CCC; 
  padding: 10px 25px 0px 25px;
}
.name_ {
  display: flex; 
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 15px;
}
.subcontainer_ {
  margin-right: 40px;
}